*{
    margin: 0;
    padding:0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color: black;
}
html{
    scroll-behavior: smooth;
}


/* -------------------nav bar-------------------- */

#container{
        width: 100%;
        height: 100vh;
        background: url("back.png") ;
        background-position: center;
        background-size:contain;
        background-repeat: no-repeat;

 }
 .logo{
    margin: 0px 50px;
 }

.logo h1{
    color:white;
}
.logo h1 span{
    color:rgb(75, 121, 237);
    font-size: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}


#tab-link{
    display: flex;
}
#tab-link li{
    list-style: none;
    font-size: 20px;
    margin: 20px 20px;
}
#tab-link li a{
    text-decoration: none;
    color: white;
    position: relative;
}
#tab-link li a::after{
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    background-color: rgb(44, 138, 220);
    top: 33px;
    right: 2px;
    transition: 0.5s;

}
#tab-link li a:hover::after{

    width: 100%;
    
}
#tab-link li a:hover{
    color: skyblue;
}

#container #intro{
    color: white;
    margin: 200px 50px;
}
 span{
    color: rgb(44, 138, 220);
}




/* --------------------------about section------------------------------- */
#about{
    padding: 12px;
    color: white;
    
}
#about .row{
    display: flex;


} 
#about .about-col-1{
    flex-basis: 35px;
    margin-top: 60px;
}
#about .about-col-1 img{
    width: 500px;
    border-radius: 10px;
    border:3px solid rgb(40, 166, 215)
}
#about .about-col-2{

    margin:60px 60px;
}
#about .about-col-2 h1{
        font-size:50px;
}
#about .about-col-2 .content{
    font-size: 20px;
}

#tab-title{
    display: flex;
}
#tab-title .tab-link{
    font-size: 30px;
    margin:20px 30px;
    position: relative;

}
#tab-title .active-link::after{
    content: '';
    width: 100%;
    height: 3px;
    background-color: rgb(70, 161, 241);
    top:45px;
    right: 1px;
    bottom: -8;
    position: absolute;
    transition: 0.5s;
}

.tab-content span{
    font-size: 20px;
    color: rgb(54, 174, 222);

}
#tab-title .tab-link{
    cursor: pointer;
}
.tab-content li{
    font-size: 18px;
    margin-top: 20px;
}
.tab-content{
    display: none;
}
.active-content{
    display: block;
}

/* -------------------------service-------------------- */

#services{
    margin: 20px 0px;
    color: white;
}
#services .container h1{
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
}

#services .services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:30px;
    margin: 20px 10px;
    padding: 20px 10px;
}

#services .services-list h2{
    margin: 20px 12px;
    font-size:30px;
}
#services .services-list p{
    font-size: 25px;
    margin: 20px 12px;
}
#services .services-list div{
    border:2px solid rgb(44, 130, 221);
    background-color: rgb(51, 45, 45);
    border-radius: 20px;
    transition:0.5s;
}
#services .services-list ion-icon{
    font-size: 80px;
    margin: 20px 30px;
}
#services .services-list div:hover{
    background-color: rgb(34, 148, 193);
    color: black;
    transform: translateY(-10px);
    border: 3px solid white
}


/*--------------------contact me----------------*/

#contact h1{
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top:60px;
}

#contact .row{
    display: flex;
}
#contact .row .contact-col-1{
    margin: 100px 50px;
}
.contact-col-1{
    flex-basis: 35%;
    color: white;
}
.contact-col-2{
    flex-basis: 60%;
}
#contact .row .contact-col-1 h3{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 10px;
    color: white;
    position: relative;
}
#contact .row .contact-col-1 h3::after{
    content: '';
    width: 35%;
    height: 3px;
    background-color: rgb(67, 67, 225);
    top: 35px;
    left: -3%;
    position: absolute;
}

#contact .row .contact-col-1 p{
    padding: 10px 0px;
    font-size: 20px;
}
#contact .row .contact-col-1 p ion-icon{
    font-size: 30px;
    margin-right: 12px;
    color: rgb(23, 85, 178);
    color: black;
    
}
#contact .row .contact-col-1 a ion-icon{
    font-size: 30px;
    margin: 10px 0px;
    background-color: black;
}
#contact .row .contact-col-1 a ion-icon:hover{
    transform: translateY(-4px);
    transition: 0.5s;
}
#contact  .btn{
    background-color: rgb(73, 73, 230);
    cursor: pointer;
    color: white;
    margin: 20px 0px;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 17px;
    font-weight: 700;
}
#contact .row .contact-col-1 .btn a{
    color: white;
    text-decoration: none;
}
#contact .row .contact-col-1 .btn:hover{
    background-color: rgb(113, 113, 235);
    color: black;
}

.contact-col-2 input,textarea{
    flex-basis: 100%;
    width: 50%;
    background-color: rgb(213, 210, 241);
    padding: 15px 10px;
    margin: 15px 0px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;

}
.contact-col-2{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.contact-col-2 form input[type=submit]{
    color: white;
    cursor: pointer;
    background-color: rgb(73, 73, 230);
    border-radius: 20px;
    font-size: 30px;
    font-weight: 700;
}
#contact .container{
     background-color: rgb(82, 79, 79);
}


#navbar ion-icon{
      color: white;
      font-size: 40px;
      display: none;         
}

.btn2{
    position: relative;
    top:30px;
    right: 250px;
}

@media only screen and (max-width:600px){
        #navbar .logo {
            margin: 0px;
            padding: 0px;
            font-size: 15px;
        }
        #navbar ion-icon{
            display: block;
        }

        #tab-link{
            background-color: rgb(57, 99, 224);
            position:fixed;
            top:0;
            right:-180px;
            width: 180px;
            height: 200vh;
            padding-top: 50px;
            z-index: 2;
            transition: 0.5s;
        }

        #tab-link {
            display: block;
        }
        #tab-link ion-icon{
            position: absolute;
            top:0px;
            margin-left: 20px;
        }

        #intro{
            font-size: 15px;
            position: absolute;
            right: 210px;
            top:220px
        }
        #about .row {
            display:block;
        }
        #tab-title .tab-link{
                margin:20px 15px;
                font-size: 30px;
                
        }

        #tab-title{

            margin: 5px -50px;
        }
        #contact .row{
            display:block;
        }
        #contact .row .contact-col-1{
            text-align: center;
            
        }
        #contact .row .contact-col-2{
            
            text-align: center;
        }

        #contact .row .contact-col-2 .msg{
                position: relative;
                left:45px;
        }
        #contact .row .contact-col-2 .btn2{

            position: relative;
            right: 120px;
            margin-bottom: 70px;



        }
        #contact .row .contact-col-1 h3::after{
            display: none;
        }


}


#msg{
    color: aqua;
    margin-top: -40px;
    margin-left: 17px;
    font-size: 18px;
    
}




/* header section */

#header{
    background-color: rgb(136, 134, 134);
}
#header p {
    color:black;
    font-size: 20px;
    text-align: center;
    font-weight: 900;
}
  
  
    